<div [ngStyle]="{'text-align':'center','margin-bottom':'15px','padding':'1em'}"><h1  ><span  class="badge badge-pill badge-success">Latest releases</span> </h1></div>


<div class="row" *ngIf="dataReturned.length==0 " [ngStyle]="{'margin-top':'35px'}">
  <div class="col">

    <mat-spinner style="margin:0 auto;"></mat-spinner>

  </div>



</div>

<app-tarjetas [dataReturned]="dataReturned"></app-tarjetas>

<!--
<div class="card-columns">
  <div class="card" *ngFor="let elemento of dataReturned">
    <img class="card-img-top" [src]="elemento.images | image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{elemento.name}}</h5>
      <p class="card-text" >

        <span *ngFor="let artist of elemento.artists" class="badge badge-pill badge-primary">{{artist.name}}</span>



      </p>
    </div>
  </div>

</div>
-->
