<div class="row">

  <div class="col">

    <input type="text" #buscador (keyup)="buscar(buscador.value)" class="form-control" placeholder="search artist"/>

  </div>


</div>



<app-loading [dataReturned]="ArrayArtistasConEsosTerminos" [buscador]="buscador.value"></app-loading>

<app-tarjetas [dataReturned]="ArrayArtistasConEsosTerminos"></app-tarjetas>

<!--

<div class="card-columns m-5">
  <div class="card" *ngFor="let artista of ArrayArtistasConEsosTerminos">


   <!--SOLUCION FACIL PARA LA FOTO, CON NGIF Y ELSE, PERO VAMOS A HACERLO CON PIPES


   <img *ngIf="artista.images.length>0;else noImage"  class="card-img-top" [src]="artista.images[0].url" alt="Card image cap">
    <ng-template #noImage>
      <img class="card-img-top" src="../../../assets/img/no_image_available.jpg" alt="Card image cap">
    </ng-template>-->

    <!-- CON PIPES-->

  <!--

    <img class="card-img-top" [src]="artista.images | image" alt="Card image cap">

    <div class="card-body">
      <h5 class="card-title">{{artista.name}}</h5>
      <p class="card-text" >

        <span *ngFor="let artist of artista.artists" class="badge badge-pill badge-primary">{{artist.name}}</span>



      </p>
    </div>
  </div>

</div>
-->
